<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Price prediction </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


</head>
<body>


<div class="container">


    <form action="" method="post" role="form">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading">Get historical data</div>
                <div class="panel-body">

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="inputState">Choose pairs </label>
                                <select name='pairs' id="inputState" class="form-control">
                                    {% for pair in pairs %}
                                    <option type="text" class="form-control" id={{pair}} name={{pair}}>{{pair}}
                                    </option>
                                    {% endfor %}


                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="inputState">Choose interval </label>
                                <select name='interval' id="inputState1" class="form-control">
                                    {% for key, value in intervals.items() %}
                                    <option type="text" class="form-control" id={{key}} name={{kay}}>{{key}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">

                </div>
            </div>
        </div>
    </form>
    {% if graph %}
    <script>
        $(function () {
            $('#container').highcharts({
                title: {
                    text: 'Prices',
                    x: -20
                },
                xAxis: {
                    categories: {
            {
                time_list
            }
        }
        },
            yAxis: {
                title: {
                    text: 'Price'
                }
            ,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            }
        ,
            tooltip: {
                valueSuffix: '$'
            }
        ,
            legend: {
                layout: 'vertical',
                    align
            :
                'right',
                    verticalAlign
            :
                'middle',
                    borderWidth
            :
                0
            }
        ,
            series: [{
                name: '{{current_pair}}',
                data: {{data_set}}
        }
        }]
        })
            ;
        });
    </script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js">
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    {% endif %}
    {% if up_down %}
    <center><p>Up Down indicator: {{up_down}}</p></center>
    {% endif %}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<br>
</div>
</div>

</body>
</html>
