<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Price prediction </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="{{ url_for('static', filename='animate.min.css') }}" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Bootstrap Dropdown Hover JS -->

    <script type='text/javascript'>
        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
</head>
<body>


<div class="container">


    <h2>Price prediction</h2>
    <form action="" method="post" role="form">
        {{ form.csrf }}
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">Get historical data</div>
                <div class="panel-body">
                    <div class="row">

                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="start_date" class="control-label">Start date</label>
                                <input type="text" class="form-control" name="start_date" id="start_date"
                                       placeholder="E.g 15/10/2018">
                            </div>
                        </div>

                        <div class='col-md-6'>
                            <div class="form-group">
                                <label for="end_date" class="control-label">End date</label>
                                <input type="text" class="form-control" name="end_date" id="end_date"
                                       placeholder="E.g 16/10/2018">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="inputState">Choose pairs </label>
                                <select name='pairs' id="inputState" class="form-control">
                                    {% for pair in pairs %}
                                    <option type="text" class="form-control" id={{pair}} name={{pair}}>{{pair}}
                                    </option>
                                    {% endfor %}


                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="inputState">Choose interval </label>
                                <select name='interval' id="inputState1" class="form-control">
                                    {% for key, value in intervals.items() %}
                                    <option type="text" class="form-control" id={{key}} name={{kay}}>{{key}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </div>
    </form>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>